.dani{
    height: 100px;
    font-size:24px;
    font-weight: 550;
    background-color: #c7bebe;
    border-radius: 10px;
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
} */
}
.dani:nth-child(4n+1){
    background: linear-gradient(
        90deg,
        rgb(196, 215, 27) 0%,
        rgb(200, 214, 145) 100%
    );
}
.dani:nth-child(4n+2){
    background: linear-gradient(
        90deg,
        rgb(116, 54, 239) 0%,
        rgb(160, 72, 214) 100%
    );
}
.dani:nth-child(4n+3){
    background: linear-gradient(
        90deg,
        rgb(143, 98, 234) 0%,
        rgb(176, 114, 214) 100%
    );
}
.dani:nth-child(4n+4){
    background: linear-gradient(
        90deg,
        rgb(141, 95, 233) 0%,
        rgb(211, 175, 234) 100%
    );
}
.dani2{
    margin-left: 10px;
}
/* .padding{
    padding: 15px;
    
} */ 